{% extends "./generic.html" %}

{% block content %}
        <h2 class="mt-4 overflow-hidden text-truncate">Events Organized by <em class="max-width: 10rem">{{user.username}}</em>
        </h2>
<hr>
<div class="card mt-3 rounded border-0 m-4">
    <div class="card-header p-3 bg-dark text-end">

        <a href="{% url 'projects:add_event' %}" class="btn btn-success">Add Event</a>
    </div>
    <div class="card-body bg-light">
    <ul class="list-group mb-2">
        {% for event in events %}
    <li class="mb-2 list-group-item d-flex flex-wrap justify-content-between card-hover align-items-start p-3 align-items-center mb-1">
        <a href="{% url 'projects:event_view' event.id %}" class="text-decoration-none flex-grow-1">
            <div class="text-dark mb-4" style="margin-top: 10px;">
                <h4>{{ event.name }}</h4>
                {% if event.image %}
                <img src="{{ event.image.url }}" alt="{{ event.name }}" class="img-thumbnail mb-3" style="max-width: 170px;">
                {% endif %}
                <p>
                    <small>{{ event.start_datetime }}</small><br>
                    <small>{{ event.end_datetime }}</small><br>
                </p>
                {{ event.location }}<br>
                <span class="text-muted overflow-hidden ">Organized by: {{ event.organization.organization_name }}</span>
            </div>
        <div class="d-flex flex-column ms-auto mb-auto h-100" style="margin-top: -10px;">
                <form action="{% url 'projects:delete_user_event' event_id=event.pk %}" method="POST" style="display:inline;" class="text-end" onsubmit="return confirmDelete()">
                {% csrf_token %}
                    <button type="submit" class="btn btn-danger " style="white-space: nowrap;">Delete</button>

                    <a href="{% url 'projects:edit_event' event.id %}" class="btn btn-dark">Edit</a>
                </form>

        </div>

        </a>
        </li>

        {% empty %}
        <li class="list-group-item">No events found</li>
        {% endfor %}
    </ul>
</div>
    <div class="card-footer bg-dark text-white ">
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo; First</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
            </li>
            {% endif %}

            <li class="page-item disabled">
                <a class="page-link" href="#">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</a>
            </li>

            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
</div>

<script>
function confirmDelete() {
    return confirm("Are you sure you want to delete event?");
}
</script>

{% endblock %}
